.search1{
    margin-left: 150px;
    margin-top: 150px;
    text-align: left;
  }
  
.search2{
    position: relative;
    text-align: left;
    display: inline-block;
    margin-left: 100px;
  }
  
.search3{
    position: relative;
    text-align: left;
    width: 400px;
    height: 400px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    float: left;
  }
  
.search4{
    align-items: left;
    width: 100px;
    display: inline-block;
    list-style-type: none;
  }