div.navigationBar {
    background-color: rgb(51, 153, 255);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: block;

    margin: 0;
    padding: 0;

    position: fixed;
    top:0px;
    left: 0;
    right: 0;
}