@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	font-family: "Roboto", sans-serif;
}

.twoListContainer {
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	width: 550px; /* This needs to be based variable later */
	padding: 3px;
}

.listContainer {
	border: 2px solid black;
	border-radius: 5px;

	width: 250px; /* This needs to be based variable later */
	height: 350px; /* This needs to be based variable later */

	overflow: auto;
}

.listHeading {
	border: 2px solid black;
	padding: 6px;
	text-align: center;
	border-radius: 5px;
	background-color: #6c757d;
	color: #f8f9fa;
}

.timeItemContainer {
	display: flex;
	justify-content: space-between;
	border: 2px solid black;
	margin: 5px;
	padding: 6px;
	border-radius: 3px;
}

.listButton {
	display: flex;
}

.listButton #amButton,
.listButton #pmButton {
	border: 2px solid black;
	width: 50%;
	margin: 5px;
	padding: 6px;
	border-radius: 3px;
	text-align: center;
	color: #f8f9fa;
	cursor: pointer;
}
